/* Color pallet */
/* Font family */
/* Media breakpoint */
/*
  key points: xs: 0,
              sm: 576px,
              md: 768px,
              lg: 992px,
              xl: 1200px,
              xxl: 1400px
*/
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  src: local("Cormorant"), url("../fonts/Cormorant/Cormorant-Light.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: local("Cormorant"), url("../fonts/Cormorant/Cormorant-Regular.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald/Oswald-ExtraLight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Bold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #040A0A;
  padding: 0;
  height: 100%;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  margin: 0;
  border: none;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 73.38rem;
  height: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
}

.reset-button {
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: inherit;
}
.reset-button :focus:not(:focus-visible) {
  outline: none;
}
.reset-button :focus:not(:-moz-focusring) {
  outline: none;
}

.section-title {
  font-weight: 300;
  font-size: 6.25rem;
  line-height: 1.2;
  font-family: "Cormorant", "Arial", sans-serif;
  text-transform: uppercase;
}

.advice {
  background: url("../img/advice-bg.png") left center/contain no-repeat #040A0A;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.advice__wrap {
  padding-left: 30%;
  border-right: 1px solid rgb(217, 120, 172);
}
.advice__line {
  margin-top: 0.94rem;
  margin-bottom: 2.5rem;
  background-color: rgb(217, 120, 172);
  width: 4.06rem;
  height: 0.63rem;
}

.advice-step {
  max-width: 16.56rem;
}
.advice-step:not(:last-child) {
  margin-bottom: 2.5rem;
}
.advice-step__title {
  margin-bottom: 0.75rem;
  color: rgb(217, 120, 172);
  font-weight: 700;
  font-size: 1.88rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.advice-step__text {
  font-weight: 300;
  font-size: 0.88rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.banner {
  background: url("../img/banner-bg.png") center/cover no-repeat #040A0A;
  min-height: 77.75rem;
  text-align: center;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.banner-title {
  font-weight: 300;
  font-size: 12.5rem;
  font-family: "Cormorant", "Arial", sans-serif;
  letter-spacing: 2.5rem;
  text-transform: uppercase;
}
.banner-title__second {
  margin-top: -4.38rem;
}

.banner-description {
  font-size: 2.5rem;
  font-family: "Oswald", "Arial", sans-serif;
  letter-spacing: 0.13rem;
}

.banner-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0.63rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.25rem 2.5rem;
}

.services {
  background: url("../img/services-bg.png") center/100% 100% no-repeat #040A0A;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.services__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.88rem;
}

.services-card {
  -webkit-backdrop-filter: blur(0.63rem);
          backdrop-filter: blur(0.63rem);
  border-radius: 1.25rem;
  background: rgba(0, 0, 0, 0.2);
  padding: 1.88rem 3.13rem;
  height: -moz-max-content;
  height: max-content;
}
.services-card__title {
  margin-bottom: 0.63rem;
  color: rgb(67, 255, 210);
  font-weight: 700;
  font-size: 1.88rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.services-card__text {
  margin-bottom: 0.63rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
}
.services-card__list {
  margin-bottom: 0.63rem;
  padding-left: 1.25rem;
  list-style-type: circle;
}
.services-card__list--ordered {
  list-style-type: decimal;
}
.services-card__item {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
}
.services-card__item:not(:last-child) {
  margin-bottom: 0.63rem;
}/*# sourceMappingURL=styles.css.map */