/* Color pallet */
/* Font family */
/* Media breakpoint */
/*
  key points: xs: 0,
              sm: 576px,
              md: 768px,
              lg: 992px,
              xl: 1200px,
              xxl: 1400px
*/
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  src: local("Cormorant"), url("../fonts/Cormorant/Cormorant-Light.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: local("Cormorant"), url("../fonts/Cormorant/Cormorant-Regular.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald/Oswald-ExtraLight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local("Oswald"), url("../fonts/Oswald/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Bold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #040A0A;
  padding: 0;
  height: 100%;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 73.38rem;
  height: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
}

.reset-button {
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: inherit;
}
.reset-button :focus:not(:focus-visible) {
  outline: none;
}
.reset-button :focus:not(:-moz-focusring) {
  outline: none;
}

.banner {
  background: url("../img/banner-bg.png") center/cover no-repeat #040A0A;
  min-height: 77.75rem;
  text-align: center;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.banner-title {
  font-weight: 300;
  font-size: 12.5rem;
  font-family: "Cormorant", "Arial", sans-serif;
  letter-spacing: 2.5rem;
  text-transform: uppercase;
}
.banner-title__second {
  margin-top: -4.38rem;
}

.banner-description {
  font-size: 2.5rem;
  font-family: "Oswald", "Arial", sans-serif;
  letter-spacing: 0.13rem;
}

.banner-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0.63rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.25rem 2.5rem;
}

.services {
  background: url("../img/services-bg.png") center/100% 100% no-repeat #040A0A;
  padding-top: 6.25rem;
  padding-bottom: 11.88rem;
  min-height: 64.31rem;
}
.services__title {
  font-weight: 300;
  font-size: 6.25rem;
  font-family: "Cormorant", "Arial", sans-serif;
  text-transform: uppercase;
}/*# sourceMappingURL=styles.css.map */