/* Color pallet */

$black:      #040A0A;
$blue:       #43FFD2;
$pink:       #7D2253;
$pink-100:   #D978AC;
$white:      #FFFFFF;

/* Font size */

$font-size-16: rem-calc(16);

/* Font family */

$oswald-font:       "Oswald", "Arial", sans-serif;
$cormorant-font:    "Cormorant", "Arial", sans-serif;

/* Font weight */

$font-weight-extra-light:   200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-bold:          700;

/* Media breakpoint */

$breakpoint-xs:   rem-calc(576);
$breakpoint-sm:   rem-calc(768);
$breakpoint-md:   rem-calc(992);
$breakpoint-lg:   rem-calc(1200);
