.services {
    background: url('../img/services-bg.png') center / 100% 100% no-repeat #040A0A;
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(190);
    min-height: rem-calc(1029);

    &__title {
        font-weight: 300;
        font-size: rem-calc(100);
        font-family: $cormorant-font;
        text-transform: uppercase;
    }
}