@import "functions";

/* Color pallet */

$black:      rgb(4, 10, 10);
$blue:       rgb(67, 255, 210);
$pink:       rgb(125, 34, 83);
$pink-100:   rgb(217, 120, 172);
$white:      rgb(255, 255, 255);

/* Font family */

$oswald-font:       "Oswald", "Arial", sans-serif;
$cormorant-font:    "Cormorant", "Arial", sans-serif;

/* Media breakpoint */

$breakpoint-xs:   rem-calc(576);
$breakpoint-sm:   rem-calc(768);
$breakpoint-md:   rem-calc(992);
$breakpoint-lg:   rem-calc(1200);
